@import '@/scss/module';

.Home {
  a {
    color: inherit;
    @include transitionEase();

    &:hover {
      opacity: 0.75;
    }
  }

  .card-experience {
    border: 0.5px solid $gray-300;
    border-radius: 12px;
  }

  .image {
    border-radius: 12px;
    height: auto;
    object-fit: contain;

    &-64 {
      max-height: 64px;
      object-fit: contain;
    }
  }

  .card-work {
    border: 0.5px solid $gray-300;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      border-color: $gray-400;
      border-width: 1px;
      .image {
        @include transitionEase();
        transform: scale(1.05);
      }
    }
  }
}
